################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DermaCheckEnv
env/
__pycache__/
*.pyc
